@model Banking_Project.Models.RegisterViewModel

@{
    ViewBag.Title = "Bank Home Page";
}

@* Bank homepage *@

<div class="jumbotron">
    <h1>Welcome to the Bank</h1>
    <br />
    @* Displaying account name and account number *@
    <p class="lead">Name: @Html.DisplayNameFor(m => m.Name)</p>
    <p class="lead">Account Number: @Html.DisplayNameFor(m => m.AccountID)</p>

    <br />
    <br />

    @* Buttons that link to corresponding transaction pages. *@
    <div class="row">
        <div class="col-md-3">
            <input type="button" value="Deposit" onclick="location.href='@Url.Action("Deposit", "Transactions")'">
        </div>
        <div class="col-md-3">
            <input type="button" value="Withdraw" onclick="location.href='@Url.Action("Withdraw", "Transactions")'">
        </div>
        <div class="col-md-3">
            <input type="button" value="Check Balance" onclick="location.href='@Url.Action("Balance", "Transactions")'">
        </div>
        <div class="col-md-3">
            <input type="button" value="Past Transactions" onclick="location.href='@Url.Action("History", "Transactions")'">
        </div>

    </div>

</div>


